<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amine.mealmanager">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyNotificationChannels"
        android:allowBackup="true"
        android:icon="@mipmap/meal_manager_icons"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/meal_manager_icons_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".BazaarActivity"></activity>
        <activity android:name=".CookBillActivity" />
        <activity android:name=".DetailsActivity" />
        <activity android:name=".ActivityOverView" />
        <activity android:name=".PersonWiseEditCostActivity" />
        <activity android:name=".EditCostActivity" />
        <activity android:name=".EditInterfaceActivity" />
        <activity android:name=".EditInfo" />
        <activity android:name=".Animate" />
        <activity android:name=".ActivityAnnouncementHistory" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7974536391361197~1055572979" />

        <activity android:name=".ActivityInstructions" />
        <activity android:name=".ActivityMemberMarketNote" />
        <activity android:name=".ActivitySeeAnnouncement" />
        <activity android:name=".MemberPasswordsActivity" />
        <activity android:name=".RecoverPassword" />
        <activity android:name=".CreateAccountActivity" />
        <activity android:name=".MemberLoginActivity" />
        <activity android:name=".ManagerLoginActivity" />
        <activity android:name=".ActivityLogIn" />
        <activity android:name=".ActivityAbout" />
        <activity
            android:name=".MaintainTodaysMeal"
            android:label="@string/title_activity_maintain_todays_meal"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DiscussionActivity"
            android:label="@string/title_activity_discussion"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>